<h2>Easy to create and edit surveys</h2>
<ul>
	<li>Setting up a survey takes no time and is online immediately.</li>
	<li>Easily manage sets of questions and collate responses.</li>
	<li>Export respondent data for offline analysis in any spreadsheet.</li>
	<li>Present your respondents with an agreement and direct them to a link of your choice if they decline.</li>
	<li>Fully customisable debriefing page.</li>
	<li>Unique, easy to remember URL for your surveys.</li>
	<li>Export all your respondents data to Comma Separated Values (CSV).</li>
	<li>Import and export XML format survey questions and answers.</li>
	<li>Archive surveys to close them from further responses.</li>
</ul>

<h2>No fuss survey taking</h2>
<ul>
	<li>Simple interface designed for young and old respondents alike.</li>	
	<li>Minimal branding, just your survey name in the strapline.</li>
	<li>Tracks the progress of your respondents allowing them to return to the last question answered.</li>
	<li>Verifies questions are answered or intentionally skipped.</li>
</ul>

<h2>Manage sets of questions easily</h2>
<ul>
	<li>Each set of questions can prompt the user with specific intructions.</li>
	<li>Sets of questions are presented in randomized orders with all questions of a set presented before moving to the next set.</li>
	<li>Sets or individual questions may be archived without loss of already collected data.</li>
</ul>

<h2>Flexible questions and answers</h2>
<ul>
	<li>Sub-questions allow you to chain related questions easily together.</li>
	<li>Choose from multiple choice, single or multiple lines of text or mix them all up for any question.</li>
	<li>Short lists of answers are presented either in ascending or descending order to avoid experimental bias.</li>
	<li>Long lists of answers are presented in tabulated format.</li>
</ul>