<h2>WELCOME TO THE OPEN BETA!</h2>
<p>
	FlexiSurveys.com is a simple to use online survey tool built with scientific polling in mind.
</p>
<h3>Key Features</h3>
<ul>
	<li>Crisp clean administration interface.</li>
	<li>Minimalist respondent interface suitable for young and old alike.</li>
	<li>Questions organised into named sets.</li>
	<li>Multiple choice, single or multi-line text answer choices.</li>
	<li>Easy to use offline data collation and survey backup.</li>
	<li>Helps avoid experimental bias and survey fatigue.</li>
	<li>Fully customisable to suit your needs.</li>
</ul>
<p>
	<%=link_to "read more", features_path%>
</p>
<p>
	<%=link_to "Sign up", signup_path%> now to create your own survey for <b>FREE</b>!
</p>