<h2>What's Next?</h2>

<p>
	Firstly, you should soon receive an email with a link to activate your account. This is a necessary part of verifying we have a valid email address to contact you.
</p>
<p>
	Once activated, you should <%=link_to "login", login_path %> and begin creating your first survey following these simple steps:
</p>
<ol>
	<li>
		Click the "Create New Survey" link and give your survey a name, a unique path where it will be accessible under your user account to the public as well as a brief synopsis or guidance for people taking the survey.
	</li>
	<li>
		Once created, add a new question set which will group questions of a similar nature together, giving any specific intructions (e.g. "Please choose only one of the following options") that will apply to all questions in that set.
	</li>
	<li>
		Then add questions to your set giving each question a prompt which will be presented to the participant (e.g. "What is your favourite food?").
	</li>
	<li>
		And for each question add some answer options, choosing a label for the answer and whether it will be a radio button or text type of answer (e.g. "Spagetti" (radio), "Other" (text)).
	</li>
	<li>
		Repeat the steps above until you are happy with your survey and then try out the survey for yourself on the unique, permamently reserved URL which will be accessible to anybody you care to share it with (no sign up required).
	</li>	
</ol>
