<h2>Benefits of Upgrading</h2>

<table cellpadding="6" cellspacing="6">
	<tr>
		<th>Account Type</th>
		<th>Free</th>
		<th>Basic</th>
		<th>Premium</th>
	</tr>
	<tr>
		<th>Max Surveys:</th>
		<td>1</td>
		<td>5</td>
		<td>100</td>
	</tr>
	<tr>
		<th>Max Question Sets Per Survey:</th>
		<td>3</td>
		<td>5</td>
		<td>100</td>
	</tr>
	<tr>
		<th>Max Questions Per Set:</th>
		<td>20</td>
		<td>50</td>
		<td>1000</td>
	</tr>
	<tr>
		<th>Max Answers Per Question:</th>
		<td>5</td>
		<td>20</td>
		<td>100</td>
	</tr>
	<tr>
		<th>Max Respondents Per Surveys:</th>
		<td>100</td>
		<td>1000</td>
		<td>10000</td>
	</tr>
	<tr>
		<th>Monthly Price</th>
		<td>FREE!</td>
		<td colspan="2" rowspan="2"><%=link_to "Please contact us", "mailto:sales@flexisurveys.com" %></td>
	</tr>
	<tr>
		<th>Ordering</th>
		<td></td>
	</tr>
</table>