<h2>Create New Survey</h2>

<%=render :partial => 'form', :locals => {:action_name => 'Create'} %>

<%=render :partial => '/features', :locals => {:lhs => [link_to('Back', @survey)], :rhs => []} %>