<hr class="clear"/>
<div id="features">
  <ul>
  	<% lhs.each do |item| %>
	<li><%=item%></li>
    <% end %>
  </ul>
  <ul>
    <% rhs.each do |item| %>
	<li><%=item%></li>
    <% end %>
  </ul>
  <div class="clear"> </div>
</div>
<hr class="clear"/>
